.nav-enlace{
    display: inline-block;
    background: salmon;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover{
    background: rosybrown;
}

nav {
    background: lightsalmon;
    padding: 10px;
    display:flex;
    justify-content: space-around;
}

.nav-button{
    background: salmon;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #fff;
    display: none;
    border-radius: 4px;
}

.nav-button:hover{
    background: rosybrown;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 0;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .nav-button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-enlace {
        margin: 2px 0;
        display: block;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }
}