h1{
    color: burlywood;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.img-container {
    text-align: center; /* Centra el texto dentro del contenedor */
}
img {
    display: block; /* Convierte la imagen en un elemento en bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(41, 41, 41);
    color: bisque;
}
.Link{
    color: chocolate;
}
#id{
    color:deeppink
}